<!doctype html>
<html>
    <head>
        <title>資産管理アプリ</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <h1>資産管理アプリ</h1>
        </header>

        <main>
            <!-- フラッシュメッセージ -->
            <!-- ログイン失敗時表示 -->
            <% if(messages.failure){ %>
                <h1><%=messages.failure %></h1>
            <% } %>
            
            <h2>ログイン</h2>
            <form action="mypage" method="post">
                <div><input type="text" name="userName" id="userName" placeholder="Username"></div>
                <div><input type="password" name="password" id="password" placeholder="Password"></div>
                <div><button name="/mypage" type="submit">ログイン</button></div>
            </form>
        </main>
    </body>
</html>
