<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Welcome to <%= title %></h1>
        <header>
            <nav>
                <ul>
                    <li>ホーム</li>
                    <li>インフォ</li>
                    <li>問い合わせ</li>
                </ul>
            </nav>
        </header>
        <main>
            <p><%= username %></p>
            <form action="../logout" method="get">
                <input type="submit" value="Logout">
            </form>
        </main>
        <footer></footer>
    </body>
</html>
